html {
    background-color: #FFFFE0;
}
header {
    position: sticky;
    border-bottom: 0.5mm solid black;
}

/* CSS color reset */
* {
    color: black;
}

/* Nav Bar */
nav {
    width: 100%;
    min-height: 75px;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul {
    list-style: none;
    display: flex;
}
#nav-item {
    display: inline;
    height: 100%;
    padding: 5px;
    text-align: center;
}

/* Headers */
.section-title {
    color: rgb(57, 69, 203);
    font-family: 'Rubik', sans-serif;
    display: flex;
}
.main-header {
    color: hsl(0,0%,0%);
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;

}
/* selector list */
h1, h2 {
    text-decoration: underline;
}

section {
    position: relative;
    display: block;
    color: black;
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 4pt;
    margin-right: 4pt;

    padding-top: 3ch;
    padding-bottom: 3ch;
    padding-left: 3ch;
    padding-right: 3ch;

    font-family: 'Karla', sans-serif;

    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1em;
    border-color: black;

    max-width: 800px;
    min-width: 400px;
}

section:hover {
    background-color: #fbfbe4;
}

/* Div for idea grid */
.idea-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 100%;
    grid-gap: 2px;
}

/* attribute selector */
option[value="Sixth"] {
    background-color: red;
}

/* misc. selectors*/
fieldset legend {
    font-weight: bold;
}
input ~ label {
    padding: 5px;
}
label + textarea {
    background-color: rgb(237, 241, 255);
    width: 70%;
    padding-right: auto;
}
input.submit-button {
    color: blue;
}
input.submit-button:active {
    background-color: white;
}